.card__phrase {
    padding-left: 50px;
    font-weight: 300;
    line-height: 1.5;
    font-size: 1.1rem;
    color: black;
}

.card__phrase::after {
    content: "'";
}

.card__phrase::before {
    content: "'";
}